@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: normal;
	font-weight: 700;
	
	src: url("../static/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: italic;
	font-weight: 700;
	
	src: url("../static/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: condensed;
	font-style: normal;
	font-weight: 700;
	
	src: url("../static/fonts/OpenSans-CondBold.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: condensed;
	font-style: normal;
	font-weight: 200;
	
	src: url("../static/fonts/OpenSans-CondLight.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: condensed;
	font-style: italic;
	font-weight: 200;
	
	src: url("../static/fonts/OpenSans-CondLightItalic.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: normal;
	font-weight: 900;
	
	src: url("../static/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: italic;
	font-weight: 900;
	
	src: url("../static/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: italic;
	font-weight: 400;
	
	src: url("../static/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: normal;
	font-weight: 200;
	
	src: url("../static/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: italic;
	font-weight: 200;
	
	src: url("../static/fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: normal;
	font-weight: 400;
	
	src: url("../static/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: normal;
	font-weight: 500;
	
	src: url("../static/fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face
{
	font-family: "Open Sans";
	font-stretch: normal;
	font-style: italic;
	font-weight: 500;
	
	src: url("../static/fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
}
